body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(2deg, #01020f, #0c1a96);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.app {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 10px 25px 50px rgba(0,0,0,0.3);
    text-align: center;
    border: 5px solid black;
}

.input-box {
    display: flex;
    margin-bottom: 15px;
    
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #2575fc;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

button:hover {
    background: #6a11cb;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
}
